*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: 'angsana';
    src: url('../fonts/angsa-webfont.woff2') format('woff2'),
         url('../fonts/angsa-webfont.woff') format('woff'),
         url('../fonts/angsa-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	background: #B3B3B3;
}

#contenedor{
	width: 1000px;
	margin: auto;
	margin-top: 20px;
	overflow: hidden;
	margin-bottom: 20px;
}

header{
	width: 1000px;
	height: 120px;
	border-radius: 20px;
	float: left;
	overflow: hidden;
}

nav{
	width: 995px;
	height: 75px;
	background: #005883;
	float: left;
	border-radius: 20px;
	margin-top: 20px;
	border: solid;
	color: #FFFFFF; 
}

nav a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 35px;
	font-family: angsana;
	padding: 45px;
}
nav a:hover{
	text-decoration: underline;
	font color: #B3B3B3;
	font-size: 25;

}

p{
	font-family: angsana;
	font-size: 25px;
	text-align: justify;
}
h1{
	background: #005883;
	font-family: arial;
	font-size: 35px;
	color: #FFFFFF;
	text-align: center;
}
h2{
	background: #005883;
	font-family: arial;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;

}

nav li{
	list-style: none;
	display: inline-block;
	padding: 20px 0px;
}


section{
	width: 680px;
	background: #FFFFFF;
	height: 580px;
	float: left;
	margin: 20px 0px 20px 0px;
	border-radius: 10px;
	padding: 10px;
	
}

aside{
	width: 260px;
	background: #FFFFFF;
	height: 580px;
	float: left;
	margin-left: 20px;
	margin: 20px 0px 20px 20px;
	border-radius: 10px;
	padding: 10px;
}

footer{
	width: 1000px;
	height: 150px;
	background: #FFFFFF;
	float-left;
	border-radius: 10px;
	margin: 20px 0 20px 0;
	overflow: hidden;
	clear:both;

}